/*===================================== Tab Menu Header ===============*/
:root {
  --color-primary:GOLD;
  --color-black: #daedff;
  --color-shadow:#25b4d6;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:sans-serif;
    font-weight: bold;
}
.logo { 
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: bold;
}

.kalimat {
    position:fixed;
    color: #120980;
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,0.9809173669467787) 29%, rgba(138,202,235,1) 100%);
    width: 100%;
    z-index: 1;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background:radial-gradient(circle, rgba(52,161,190,1) 53%, rgba(30,80,135,1) 100%);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  position:fixed;
  z-index: 2;
  top: 0;
 }

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
    padding: 10px 10px;
  position:relative;
}
.menu-bar ul li h5 {
    color: var(--color-black);
    transition:all 0.3s ;
    cursor:pointer;
}
.menu-bar ul li h5:hover {
    color: var(--color-primary);
    background :radial-gradient(circle, rgba(69,166,184,1) 46%, rgba(161,223,255,1) 100%);
    padding: 15px 10px;
}
.menu-bar ul li  a {
  font-size: 10px;
  color: var(--color-black);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
    color: var(--color-primary);

}

.dropdown-menu {
  display: none;
}

.dropdown-menu ul li::after {
    content: '';
    background-color:#fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width .5s;
}

.dropdown-menu ul li:hover::after {
    width: 100%;
    background-color:var(--color-primary);
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background:radial-gradient(circle, rgba(69,166,184,1) 46%, rgba(161,223,255,1) 100%);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 160px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background:radial-gradient(circle, rgba(69,166,184,1) 46%, rgba(161,223,255,1) 100%);
}


/*==============================Tap menu End ================*/
/*==============================Sosial media ================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.sosialmedia{
  display: flex;
  position:relative;
  left: 4.8rem;
  top: 3.2rem;
  width: 18%;
  height: 5%;
  background:transparent;
  font-family:sans-serif;
  z-index: 1;
}

.wrapper .button{
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background:var(--color-primary);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  margin-left: 10;
  
}
.wrapper .button:hover{
  width: 120px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #ff0000;
}

.wrapper .button .icon i{
  font-size: 15px;
  line-height: 30px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color:#ff0000;
}
/*==========================Sosial Media End==================*/
/*==============================slide==========================*/
.wrapper123 {
    position: relative;
 min-height: 100vh;
  display: flex;
  bottom: 40px;
  align-items: center;
  justify-content: center;
  background:radial-gradient(circle, rgba(52,161,190,1) 53%, rgba(30,80,135,1) 100%);
}

.image-container123 {
  height: 550px;
  max-width: 1520px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.image-container123 .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  object-fit: cover;
}
/*================================slide end==============================*/
/*=============================== categories Satuan ====================*/
.container {
  width: var(--color-primary);
  margin: auto;
  position: relative;
  bottom: 150px;

}
section {
  padding: 6rem 0;
}
.btn {
  position: absolute;
  display: inline-block;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,75,153,1) 0%, rgba(60,179,203,1) 70%);
  color:var(--color-primary) ;
  padding: 1rem 2rem;
  border: 0px solid transparent;
  font-weight: 500;
  transition: var(--color-primary);
  top: 300px;
  left: 80px;
  text-decoration: none;
}
.btn:hover {
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,192,197,1) 0%, rgba(49,82,188,1) 85%);
  color: var(--color-black);
  border-color: var(--color-primary);
}
.btn-primary {
  background: var(--color-black);
  color: white;

}
.categories {
  position: relative;
  bottom: 96px;
  background:linear-gradient(90deg, rgba(95,95,235,1) 6%, rgba(202,94,226,1) 50%, rgba(228,81,81,1) 100%);
  height: 22rem;
}
.categories h2 {
  position: absolute;
  color:var(--color-primary);
  top: 140px;
  left: 80px;
  line-height: 1;
  margin-bottom: 3rem;
}
.categories h2 span {
    color: var(--color-black);
}
.categories_container {
  display: grid;
  gap: 4rem;
}

.categories_left h4 {
  position: absolute;
  color: var(--color-black);
  left: 80px;
  top: 200px;
  margin: 1rem 0 3rem;
}
.categories-right {
  display: grid;
  grid-template-areas: repeat(3, 1fr);
  gap: 1.2rem;

}
.category {
  position: relative;
  top: 40px;
  left: 850px;
  height: 50px;
  width: 500px;
  background: var(--color-primary);
}
.category:hover {
  box-shadow:0 3rem 3rem rbga(0, 0, 0,0.3);
}

.category h5 {
    color: var(--color-shadow);
    font-size: 15px;
}
.category:nth-child(1) .category-icon {
  background: var(--color-shadow);
}

.category:nth-child(2) .category-icon {
  background: var(--color-shadow);
}
.category:nth-child(3) .category-icon {
  background: var(--color-shadow);
}
.category:nth-child(4) .category-icon {
  background: var(--color-shadow);
}

.category-icon {
  position: absolute;
  background: var(--color-primary);
  left: 5px;
  top: 5px;
  padding: 0.7rem;
}

.category h5 {
  text-align: center;
  margin: 0,5rem 0 1rem;
} 

.category p {
    color: var(--color-black);
  text-align: center;
  font-size: 0,85rem;
}
/*=================================Categories satuan End======================*/
/*=================================sevice section start===================*/
.services .box-container{ 
    position: relative;
    display: grid;
    width: 100%;
    height: 250px;
    background:radial-gradient(circle, rgba(52,161,190,1) 53%, rgba(30,80,135,1) 100%);
    bottom: 193px;
    grid-template-columns: 25% 25% 25% 25%;

}

.services .box-container .box{
    position: relative;
    background:var(--color-shadow);
    border-radius: .2rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
    width: 240px;
    height: 75px;
    margin: 20px;
    left: 45px;
}

.services .box-container .box i{
    color:white;
    font-size: 2rem;
    padding-bottom: .2rem;
}

.services .box-container .box h5 {
    color: var(--color-primary);
    font-size: 15px;
    
}

.services .box-container .box a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    line-height: 2;
    bottom: 10px;
}
.services .box-container .box a:hover {
    color:#120980;
    padding: 5px 10px;
    background:radial-gradient(circle, rgba(255,255,255,0.9809173669467787) 29%, rgba(138,202,235,1) 100%);
}

/*===============================service section end======================*/



/*======================================footer ============================*/
header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 190px;
}

header h1 {
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #00922c;
    padding-top: 16px;
}

header h2 {
    color: #000000;
    font-size: 30px;
}


footer {
    position: fixed;
    bottom: 0;
}

.footer {
    position: relative;
    background-color: #040a18;
    box-sizing: border-box;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    position: relative;
    top: 10px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}

/*===================================footer end ==============================*
